body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
}

/* Additional styling for the profile icon and dropdown toggle */
.navbar-nav .nav-link {
    padding-right: 1rem;
}

/* Style for the navbar toggler (hamburger menu) */
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

/* Additional styling to ensure proper alignment and spacing */
.navbar-brand img {
    margin-right: 10px;
}

.nav-item .fa-user {
    font-size: 1.5rem;
}

.nav-item .fa-bars {
    font-size: 1.5rem;
}


.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #497999;
}

.discussion {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 300px; /* Adjust height as needed */
    border-radius: 8px;
}

.post {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.post p {
    margin: 5px 0;
}

.post h3 {
    color: #497999;
}

.post input[type="text"],
.post textarea,
.post select {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post textarea {
    height: 100px; /* Adjust height as needed */
}

.post button {
    background-color: #497999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post button:hover {
    background-color: #4c6b77;
}
