table {
    border-collapse: collapse;
    margin-left: 10px;
    width: 98%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #CDE1E8;
    color: black;
}
body
{
    background-color:rgb(244, 241, 241);
}
h1
{
    margin-left: 10px;
}